<h1>copypaste</h1>
<h3>
    Paste your long text<br>
    and get a convenient link!
</h3>
<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field>
    <mat-label>Expires</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
    <mat-label>Paste</mat-label>
    <textarea matInput ></textarea>
</mat-form-field>
<button mat-stroked-button color="primary">Get a link</button>