<div class="container">
    <header class="header">
        <h1 class="logo">pastinator</h1>
        <h2 class="subheader">
            Paste your long text<br>
            and get a convenient link.
        </h2>
    </header>
    <div class="inputs">
        <mat-form-field class="title">
            <mat-label >Title</mat-label>
            <input matInput [(ngModel)]='title' >
        </mat-form-field>
        <div>
            <mat-form-field class="username">
                <mat-label >Author</mat-label>
                <input matInput [(ngModel)]='author'>
            </mat-form-field>
            <mat-form-field class="expires">
                <mat-label >Expires</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]='expires'>
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <mat-form-field class="paste">
        <mat-label>Paste</mat-label>
        <textarea matInput class="paste-input" [(ngModel)]='paste'></textarea>
    </mat-form-field>
    <div class="buttons">
        <button mat-stroked-button color="primary" class="get-link" (click)="addPaste()">Get a link</button>
    </div>
</div>