body {
    height: auto;
    padding: 40px;
}

.container {
    display: grid;
    grid-template-columns: auto 60% auto;
    grid-template-areas:
        ".  .  ."
        ". header ."
        ". paste ."
        ". . .";
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.paste {
    grid-area: paste;
    white-space: pre-wrap;
}

.header {
    grid-area: header;
}

.title {
    font-size: 2vw;
    margin-bottom: 0;
}

.author {
    font-weight: lighter;
    font-size: 0.7vw;
    margin-bottom: 5px;
    font-style: italic;
}

.buttons {
    margin-bottom: 15px;
}

