<div class="container">
    <header class="header">
        <h1 class="title" name="title" *ngIf="paste.title">
            {{ paste.title }}
        </h1>
        <h2 class="author" *ngIf="paste.author">
            by {{ paste.author }}
        </h2>
        <div class="buttons">
            <button mat-stroked-button color="primary" class="get-link" (click)="cp.copy(); copyPaste()">Copy</button>
        </div>
    </header>
    <pre class="paste" ngxCopyPaste #cp="copy">
{{ paste.paste }}
    </pre>

</div>