@import "./variables.sass"
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

body
    @include angular-material-color($theme)
    margin: 0
    font-family: Roboto, "Helvetica neue", sans-serif
    background-color: $background-color
    color: $text-color

html, body
    height: 100%